# ===============
# APP
# ===============
PORT=3000
ORIGIN=http://localhost:3000
NODE_ENV=development


# ===============
# FRONTEND
# ===============
FRONTEND_URL=http://localhost:3000


# =========================
# JWT
# =========================
JWT_SECRET=secret
JWT_EXPIRES_IN=1d
REFRESH_JWT_SECRET=secret
REFRESH_JWT_EXPIRES_IN=7d


# =========================
# GOOGLE
# =========================
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_USER_URL=api/auth/google/callback



# =========================
# Prisma
# =========================
POSTGRES_URL= "postgresql://postgres:postgres@localhost:5432/prisma?schema=public"

# ===============
# MONGODB
# ===============
MONGO_URI=mongodb://mongo:mongo@localhost:27017/
MONGO_DB_NAME=core

# ===============
# TYPEORM
# ===============
TYPEORM_TYPE=postgres
TYPEORM_HOST=localhost
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=postgres
TYPEORM_DATABASE=typeorm
TYPEORM_PORT=5432

# ===============
# REDIS
# ===============
REDIS_HOST=localhost
REDIS_PORT=6379

# =========================
# MINIO / S3 / BUCKET
# =========================
MINIO_ROOT_USER="minio"
MINIO_ROOT_PASSWORD="minio123"
MINIO_SERVER_ACCESS_KEY="minio-access-key"
MINIO_SERVER_SECRET_KEY="minio-secret-key"
MINIO_SERVER_HOST="minio"
MINIO_SERVER_URL="http://minio:9000"

BUCKET_ACCESS_KEY_ID=
BUCKET_QRCODE_BUCKET=
BUCKET_QRCODE_EXPIRES=
BUCKET_SECRET_ACCESS_KEY=
BUCKET_URL=



# =========================
# SLACK
# =========================
SLACK_WEBHOOK_URL=
SLACK_CHANNEL=monitoring #Nome do canal no slack
SLACK_USERNAME=Backend-Bot #Nome do bot no slack
SLACK_ICON_EMOJI=:robot_face: #Emoji do bot no slack






